# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log
local_settings.py
.env

# Virtual environments
venv/
env/
ENV/
FBCenvironment/

# OS files
.DS_Store
Thumbs.db
